<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>page.akvaithi.synth.brief-evening</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/akvaithi/Developer/synth/bin/synth</string>
        <string>brief</string>
        <string>evening</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>20</integer></dict>
    <key>WorkingDirectory</key>
    <string>/Users/akvaithi/Developer/synth</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/akvaithi/.local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/akvaithi/Developer/synth/.state/brief-evening.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/akvaithi/Developer/synth/.state/brief-evening.err.log</string>
</dict>
</plist>
